body{
	background-color: #A3C2C2;
}
#password_gen{
	
	padding: 10px;
	font; 20px;
	font-weight: 10;
}

#header {text-align:center;
background:#ffffff;
box-shadow:0px 10px 18px 0px rgba(0, 0, 0, 0.64);
height: 56px;
}



p{
	font-size: .7em;
	text-align: justify;
	margin-right: .7em;
	margin-left: .7em;
}

#box{
	background-color: rgba(255, 255, 254, 0.92);
	border: solid 1px #a0a0a0;
}

form{
	width: 80%;
	margin: auto;
	font-size: .8em;
}

#button_div{
	padding-left: 10em;
	

}